@import './variables.scss';

/* 
	* Components
  */
@import '../components/form/form.scss';

/* 
		* Pages
		*/
@import '../pages/users/users.scss';

:root {
	--link_clr: $clr-neon-blue;
}

html,
body,
#__next {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.5;
	text-rendering: optimizeSpeed;
	scroll-behavior: auto;
	// color: $clr-accent-lemon;
	color: white;
	background-color: black;
}

#__next {
	display: flex;
	flex-direction: column;
	max-width: 1444px;
}

/* 
	* navigation
 */
.navbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: black;
	box-shadow: 0px 0px 1em 0px rgba(95, 104, 120, 0.55);
	-webkit-box-shadow: 0px 0px 1em 0px rgba(95, 104, 120, 0.55);
	-moz-box-shadow: 0px 0px 1em 0px rgba(95, 104, 120, 0.55);
}
.nav {
	display: flex;
	justify-content: space-between;
}
.nav-item {
	margin-left: 0.5rem;
	padding: 1rem 0rem;
}
.nav-link {
	padding: 0.7rem;
	transition: background-color 100ms;

	&:hover {
		background-color: $clr-shades-grey;
	}
}

.active-link {
	background-color: $clr-accent-grey;
}

main {
	padding: 0.5rem 1rem;
}

.home-header {
	text-align: center;

	h2 {
		margin-top: 0;
	}
	p {
		font-size: 1.4rem;

		code {
			font-weight: bold;
			font-size: 1.25rem;
		}
	}
}

.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	.home-links {
		display: flex;
		gap: 0.5rem;
	}

	.btn-logout {
		padding: 0.5em 1em;
		margin: 1em 0;
		font-size: 1.01rem;
		border: none;
		border-radius: 0.3em;
		background-color: $clr-neon-magenta;
		cursor: pointer;
		transition: background-color 100ms ease-in-out;

		&:hover {
			background-color: $clr-shades-neon-magenta;
		}
	}
}

.link {
	position: relative;
	color: $clr-neon-blue;

	&:hover {
		&::after {
			content: '';
			width: 100%;
			height: 0.1em;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: $clr-neon-blue;
		}
	}
}

.private-link {
	color: $clr-accent-lemon;

	&:hover {
		color: $clr-accent-lemon;
		&::after {
			// content: '';
			// width: 100%;
			// height: 0.15em;
			// position: absolute;
			// top: 110%;
			// left: 0;
			background-color: $clr-accent-lemon;
		}
	}
}

.public-link {
	position: relative;
	color: $clr-neon-blue;

	&:hover {
		&::after {
			content: '';
			width: 100%;
			height: 0.1em;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: $clr-neon-blue;
		}
	}
}

footer {
	margin-top: auto;
	padding: 1rem 0;
	border-top: 1px solid $clr-accent-grey;
	text-align: center;
	background-color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
