// color
// $primary-color: #009fff;
// $primary-color-light: #d4f1f4;
// $primary-color-dark: #003454; // dark blue
$clr-neon-blue: #4d4dff;
$clr-neon-magenta: #ea00ff;
$clr-accent-lemon: #ffff4d; // neon blue complementary
$clr-accent-green: #4dffa6; //neon magenta complementary
$clr-accent-grey: #3e4756;
// shades
$clr-shades-neon-blue: #7669ff;
$clr-shades-neon-magenta: #c700de;
$clr-shades-grey: #5f6878;
