.user-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-inline: auto;
	padding-block: 1rem;

	@media screen and (min-width: 768px) {
		max-width: 400px;
	}
}

fieldset {
	table {
		tr > th {
			padding-right: 1rem;
			text-align: left;
		}
	}
}

.btn-back {
	width: max-content;
	padding: 0.2em 0.7em;
	border: 1px solid white;
	border-radius: 0.3em;
	color: white;
	background-color: transparent;
	cursor: pointer;
	transition: all 120ms ease-in-out;

	&:hover {
		color: black;
		background-color: white;
	}
}
